{% extends 'base.html.twig' %}

{% block title %}Hello SmsController!{% endblock %}

{% block body %}

<h1> Envoie de message par sms </h1>

<form method="post" action="{{path('sms')}}">
<table>

<tr> 

<td><label>Ecris ton numéro </label></td>
<td><input type="text" name="mobile"/></td>
</tr>

<tr> 

<td><label>Ecris le message </label></td>
<td><textarea name="message" rows="5" cols="22"></textarea></td>
</tr>


<tr> 


<td><input type="submit" value="Envoie"/></td>
</tr>



</table

<div id="tree-simple" style="width:335px; height: 160px"> </div>
</form>
<div  id = "tree-simple"  style = "width:335px; height: 160px" >  </div>

<link  href = "treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.css"  rel = "stylesheet"  type = "text/css" />
<script  src = "treant-js-master/vendor/perfect-scrollbar/jquery.min.js" ></script>
<script  src = "treant-js-master/vendor/jquery.mousewheel.js" ></script>
<script  src = " treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.js" ></script>
<script>


var simple_chart_config = {
        container: "#basic-example",
        
        connectors: {
            type: 'step'
        },
        node: {
            HTMLclass: 'nodeExample1'
        }
    },
    ceo = {
        text: {
            name: "Mark Hill",
            title: "Chief executive officer",
            contact: "Tel: 01 213 123 134",
        },
        image: "../headshots/2.jpg"
    },

    cto = {
        parent: ceo,
        text:{
            name: "Joe Linux",
            title: "Chief Technology Officer",
        },
        stackChildren: true,
        image: "../headshots/1.jpg"
    },
    cbo = {
        parent: ceo,
        stackChildren: true,
        text:{
            name: "Linda May",
            title: "Chief Business Officer",
        },
        image: "../headshots/5.jpg"
    },
    cdo = {
        parent: ceo,
        text:{
            name: "John Green",
            title: "Chief accounting officer",
            contact: "Tel: 01 213 123 134",
        },
        image: "../headshots/6.jpg"
    },
    cio = {
        parent: cto,
        text:{
            name: "Ron Blomquist",
            title: "Chief Information Security Officer"
        },
        image: "../headshots/8.jpg"
    },
    ciso = {
        parent: cto,
        text:{
            name: "Michael Rubin",
            title: "Chief Innovation Officer",
            contact: {val: "we@aregreat.com", href: "mailto:we@aregreat.com"}
        },
        image: "../headshots/9.jpg"
    },
    cio2 = {
        parent: cdo,
        text:{
            name: "Erica Reel",
            title: "Chief Customer Officer"
        },
        link: {
            href: "http://www.google.com"
        },
        image: "../headshots/10.jpg"
    },
    ciso2 = {
        parent: cbo,
        text:{
            name: "Alice Lopez",
            title: "Chief Communications Officer"
        },
        image: "../headshots/7.jpg"
    },
    ciso3 = {
        parent: cbo,
        text:{
            name: "Mary Johnson",
            title: "Chief Brand Officer"
        },
        image: "../headshots/4.jpg"
    },
    ciso4 = {
        parent: cbo,
        text:{
            name: "Kirk Douglas",
            title: "Chief Business Development Officer"
        },
        image: "../headshots/11.jpg"
    }

    chart_config = [
        config,
        ceo,
        cto,
        cbo,
        cdo,
        cio,
        ciso,
        cio2,
        ciso2,
        ciso3,
        ciso4
    ];

var my_chart =  new  Treant ( simple_chart_config );
    var chart =  new  Treant ( simple_chart_config ,  function ()  {  alert (  'Tree Loaded'  )  } , $ );

</script>







{% endblock %}
